<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Hello world from Cloud9!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div class="row">
        <div class="col-xs-12">
          <h3>SMS App</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4>Prepare to send a message!</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3"></div>
        <%= form_tag("/sms/send", method: "post") do %>
          <!-- add form elements here -->
          <div class="form-group col-xs-6">
            <div class="row">
              <label for="exampleInputphone1">phone number</label>
            </div>
            <div class="row">
              <div class="col-xs-8">
                <input type="phone" class="form-control" id="phoneInput" aria-describedby="phoneHelp" placeholder="Enter phone number">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8">
                <input type="text" class="form-control" id="textInput" aria-describedby="phoneHelp" placeholder="Enter your message">
              </div>
              <div class="col-xs-4">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
            
          </div>
        <% end %>
        <div class="col-xs-3"></div>
      </div>
    </body>
