<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Hello world from Cloud9!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3>Congratulations!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <h4>Your message has been sent!</h3>
        </div>
      </div>